/* ========= footer ======== */


    .container-footer{
        background-color: #F9FAFB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 280px;
    }
    
    .comunidade{
    
        font-style: normal;
        font-weight: 600;
        font-size: 36px;  
        margin: 20px;
    }
    
    .container-footer span{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #667085;
    }
    
    .container-footer div{
    
        padding: 30px;
    }
    
    .input{
        height: 40px;
        width: 360px;
        border: 1px solid #D0D5DD;
        border-radius: 10px;
        padding: 0px 10px;
    }
    
    .container-footer div button{
        background-color: var(--main-color);
        color: #F9FAFB;
        height: 40px;
        padding: 0px 15px;
        
        border: 1px solid #8E2424;
        box-sizing: border-box;
        border-radius: 8px;
    }
    
    .copyright{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color:  #98A2B3;
    }